#next-btn {
    background: #2c3e50;
    color: #fff;
    font-weight: 500px;
    width: 150px;
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    display: none;
}
.correct {
    background: #9aeabc;
}
.incorrect {
    background: #ff9393;
}
.btn:disabled {
    cursor: no-drop;
}